/*
    color: #606c38 ; verde claro
    color: #283618; verde oscuro
    color: #fefae0; crema
    color: #dda15e; naranja claro
    color: #bc6c25; naranja fuerte
*/
body{
    margin: 0 auto;
    background-color: #fefae0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ---------------------------- HEADER ----------------------------------*/
header{
    background-color: #dda15e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 30px;  
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}
header ul li a:hover{
    color: white;
}
.selected{
    background-color: #dda15e;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.selected:hover{
    background-color: #dda15e;
    color: white;
    font-size: 20px;
    padding: 10px;
}
/* --------------------- PRIMERA SECTION ----------------------- */
.ps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-titulo{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #bc6c25;
    
}
.cont-titulo h1{
    color: white;
    font-size: 50px;
}
.cont-txts{
    background-color: #dda15e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.cont-txts p{
    color: black;
    font-size: 20px;
    text-align: center;
}

/* ---------------------------- FORMULARIO ------------------------ */

.ss{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.formu{
    border: 2px solid #bc6c25;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: auto;
}
.elementos{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
 
}
.elementos label{
    font-size: 25px;
    color: #bc6c25;
    font-weight: bold;
    width: 150px;
}
.elementos input{
    width: 70%;
    border: 2px solid #bc6c25;
    border-radius: 10px;
}
input:focus{
    border: none;
    
}
.enviar{
    width: 100%;
    justify-content: center;
    margin: 20px;
    background-color: #bc6c25;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
}
.enviar:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
.ul-errores{
    list-style: none;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: red;
    max-width: 400px;
    padding: 0px;
}
.info{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    color: #bc6c25;
    font-weight: bold;
    background-color: white;
    max-width: 400px;

}
.txt-logo-formu{
    color: #bc6c25;
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-variant: small-caps;
    width: 33%;
}
.logo-formu{
    width: 33%;
    text-align: center;
}
/* ------------------------- FOOTER ------------------------------------- */

.fondo-footer{
    background-color: rgb(28, 28, 28);
    padding: 50px;
}
.contenedor-general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fefae0;
    align-items: center;
}
.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    order: 1;
}
.menu-footer{
    display: flex;
    flex-direction: row;
    order: 2;
}
.menu-footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}
.no-selected{
    color: #fefae0;
}
.selected-footer{
    color: #dda15e;
    
}
.menu-footer a:hover{
    color: #dda15e;
}

.redes-general h6{
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;

}
.redes{
    display: flex;
    flex-direction: column;
    order: 0;
    gap: 10px;
    margin: 0;
    a{
        text-decoration: none;
        color: #fefae0;
    }
}
.img-redes{
    width: 32px;
    height: 32px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.fc{
    padding-left: 10PX;
}
.ig{
    padding-left: 10px;
}
.footer-pt2{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}