/*
    color: #606c38 ; verde claro
    color: #283618; verde oscuro
    color: #fefae0; crema
    color: #dda15e; naranja claro
    color: #bc6c25; naranja fuerte
*/
body{
    margin: 0 auto;
    background-color: #fefae0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ---------------------------- HEADER ----------------------------------*/
header{
    background-color: #dda15e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 10px;  
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}
header ul li a:hover{
    color: white;
}
.selected{
    background-color: #dda15e;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.selected:hover{
    background-color: #dda15e;
    color: white;
    font-size: 20px;
    padding: 10px;
}
/* ------------------------ carrousel ------------------------------------*/
.titulo-principal{
    text-align: center;
    font-size: 60px;
    color: #bc6c25;
}
.sec-carru{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.flecha-izq, .flecha-der{
    width: 5%;  
    height: 79px;
    display: flex;
    justify-content: center;
}
.flecha-izq:hover, .flecha-der:hover {
    transform: scale(1.1);
}
.flecha-izq img, .flecha-der img{
    width: 79px;
    height: 79px;
    cursor: pointer;
    
}
.img-carru {
    display: flex;
    align-items: center;
    width: 60%;
    height: 600px;
    
}
.img-carru img{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}
/*------------------------- PRIMERA SECTION ----------------------------*/
.ps-fondo{
    background-color: #dda15e;
    padding: 100px; /*ESTE PADDING CONTARIA COMO MARGIN BOOTOM DE ESTA SEC Y COMO M BOTTOM DE LA DE ARRIBA*/
}
.ps{
    width: 90%;
    margin: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.ps-intro{
    width: 30%;;
    text-align: center;
}
.ps-intro h2{
    margin-top: 0px;
    font-size: 70px;
    color: black;
    background-color: #fefae0;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.502);  
}
.ps-intro p{
    font-size: 20px;
    
}
/*----------------------- SEGUNDA SECCION --------------------*/
.ss{
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 1px solid #fefae0;
    align-items: start;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px; /*---- RESPETAR ESTE MARGIN BOTTOM EN CASI TODAS LAS SECTIONS*/
}
.ss-subTitulo{
    font-size: 40px;
    width: 20%;
    background-color: #dda15e;
    padding: 10px;
    color: #fefae0;
    margin-left: 10%;
}
.ss p{
    font-size: 20px;
}
.textoSobreImagen{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    
}

.imagenSobreTxt{
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
} 
/* --------------------------------------- TERSERA SECTION ------------------------*/
.ts{    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.ts h2{
    text-align: center;
    font-size: 40px;
    background-color: #283618;
    color: white;
    padding: 10px;
    margin: 0;
}
.texto-perfil h3{
    font-size: 35px;
    width: 100%;
}
.texto-perfil p{
    font-size: 20px;
    width: 100%;
}
.foto-perfil img{
    border-radius: 50%;
}
.ts-pt1{
    background-color: #606c38;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 100px;
    padding: 50px;
    padding-left: 10%;
    text-align: center;
    color: #fefae0;
    
}
.ts-pt2{
    background-color: #283618;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 100px;
    padding: 50px;
    padding-right: 10%;
    text-align: center;
    color: #fefae0;
}
.ts-pt2 .foto-perfil{
    order: 1;
}


/* ------------------------- FOOTER ------------------------------------- */
.fondo-footer{
    background-color: rgb(28, 28, 28);
    padding: 50px;
}
.contenedor-general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fefae0;
    align-items: center;
}
.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    order: 1;
}
.menu-footer{
    display: flex;
    flex-direction: row;
    order: 2;
}
.menu-footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}
.no-selected{
    color: #fefae0;
}
.selected-footer{
    color: #dda15e;
    
}
.menu-footer a:hover{
    color: #dda15e;
}

.redes-general h6{
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;

}
.redes{
    display: flex;
    flex-direction: column;
    order: 0;
    gap: 10px;
    margin: 0;
    a{
        text-decoration: none;
        color: #fefae0;
    }
}
.img-redes{
    width: 32px;
    height: 32px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.fc{
    padding-left: 10PX;
}
.ig{
    padding-left: 10px;
}
.footer-pt2{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}