/*
    color: #606c38 ; verde claro
    color: #283618; verde oscuro
    color: #fefae0; crema
    color: #dda15e; naranja claro
    color: #bc6c25; naranja fuerte
*/
body {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    background-color: #fefae0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------------------------- HEADER ----------------------------------*/
header {
    background-color: #dda15e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 30px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}

header ul li a:hover {
    background-color: #dda15e;
    color: white;
}

.selected {
    background-color: #dda15e;
    color: white;
    font-size: 20px;
    padding: 10px;
}


/*----------------------------------------------------index----------------------------------------------------------------------------*/
.index {
display: flex;

    div {
        background-image: url(../imagenes/Norte/norte-1.jpg);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 15px;
            color: #fefae0;

            a {
                color: #fefae0;
            }
        }
    }




}

.titulos {
    display: flex;
    justify-content: center;

}

/*-----------------------------------------primera section------------------------------------------------*/

.ps {

    display: flex;
    flex-direction: column;
}

/*-----------------------------------------segunda section------------------------------------------------*/
.ss {

    display: flex;
    flex-direction: column;
}

.color {
    background-color: #bc6c25;

    p {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        img {
            width: 20%;
            height: auto;

        }


    }

}

.sincolor {


    p {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        img {
            width: 20%;
            height: auto;

        }


    }

}

/*-----------------------------------------tercera section------------------------------------------------*/

.ts {

    display: flex;
    flex-direction: column;
}

/*-----------------------------------------tercera section------------------------------------------------*/
.cs {

    display: flex;
    flex-direction: column;
}