/*
    color: #606c38 ; verde claro
    color: #283618; verde oscuro
    color: #fefae0; crema
    color: #dda15e; naranja claro
    color: #bc6c25; naranja fuerte
*/
body{
    margin: 0 auto;
    background-color: #fefae0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ---------------------------- HEADER ----------------------------------*/
header{
    background-color: #dda15e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
    box-shadow: 1px 1px 30px; 
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}
header ul li a:hover{
    color: white;
}
.selected{
    background-color: #dda15e;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.selected:hover{
    background-color: #dda15e;
    color: white;
    font-size: 20px;
    padding: 10px;
}
/*----------------------------------------------------index----------------------------------------------------------------------------*/
.index {
    display: flex;
    background-image: url(../imagenes/Sur/suria2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px;
    height: 700px;
    box-shadow: 1px 1px 10px;
    div {


        ul {

            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            color: #ffffff;
            gap: 40px;

            a {
                color: #fefae0;
                background-color: #00000078;
                padding: 10px;
                text-decoration: none;
                border: 1px solid rgba(255, 255, 255, 0.345);
                border-radius: 50px;
                font-size: 20px;
            }
        }
    }




}
.index li:hover{
    transform: scale(1.2);
}

.titulos {
    display: flex;
    justify-content: center;

}

/*-----------------------------------------primera section------------------------------------------------*/
h1{
    font-size: 80px;
    color: white;
    background-color: #0000005f;
}

.ps {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.subtitulos{
    font-size: 45px;
}



/*-----------------------------------------segunda section------------------------------------------------*/
.ss {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.titulosDestino {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 70px;
    color: black;
    background-color: #fefae0;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.502);

}

.titulosDestinonaranja {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 70px;
    color: rgb(255, 255, 255);
    background-color: #283618;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.502);

}


.color {
    background-color: #283618;
    width: 100%;
    color: #fefae0;
}

.contenido {
    width: 90%;
    padding: 5%;


    p {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5%;
        text-align: center;

        img {
            width: 20%;
            height: auto;

        }


    }

}

.sincolor {
    width: 100%;



}
.parrafos-grl{
    font-size: 20px;
}
.img-destino{
    box-shadow: 10px 10px 10px;
    color: black; 
    border-radius: 10px;
}

/*-----------------------------------------tercera section------------------------------------------------*/

.ts {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;

}

.lol {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.consejos {
    width: 100%;
    background-color: #283618;
    color: #fefae0;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.502);
    padding: 1%;
}

.naranjaclaro {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    background-color: #606c38;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.502);
    padding: 1%;
}

/*---------------------------CUARTA SEC COMENTARIOS -------------------------*/
.cs{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 25px;
    margin-top: 25px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.cs h5{
    font-size: 30px;
    margin-bottom: 20px;
}
.cont-gnral-coments{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 60%;
    border-bottom: 2px solid #283618;
    padding-bottom: 15px;
}
.img-comentarios img{
    border-radius: 50%;
}
.img-comentarios{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nom-com{
    font-size: 20px;
    margin-bottom: 0px;    
}
.com-com{ 
    background-color: #d5d5d5;
    padding: 10px;
    border-radius: 10px;
    
}
/* ------------------------- FOOTER ------------------------------------- */
.fondo-footer{
    background-color: rgb(28, 28, 28);
    padding: 50px;
}
.contenedor-general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fefae0;
    align-items: center;
}
.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    order: 1;
}
.menu-footer{
    display: flex;
    flex-direction: row;
    order: 2;
}
.menu-footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}
.no-selected{
    color: #fefae0;
}
.selected-footer{
    color: #dda15e;
    
}
.menu-footer a:hover{
    color: #dda15e;
}

.redes-general h6{
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;

}
.redes{
    display: flex;
    flex-direction: column;
    order: 0;
    gap: 10px;
    margin: 0;
    a{
        text-decoration: none;
        color: #fefae0;
    }
}
.img-redes{
    width: 32px;
    height: 32px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.fc{
    padding-left: 10PX;
}
.ig{
    padding-left: 10px;
}
.footer-pt2{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}